.degradado-elipse {
    position: absolute;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .degradado-elipse .elipse-img{
    position: absolute;
  }