.menu{
    width: 85%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
}

.menu .logo{
    height: 40px;
}
.logo img{
    height: 100%;
    user-select: none;
}
.menu-toggle{
    background-color: var(--color-blanco);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-fondo);
    size: 14px;
    cursor: pointer;
}
.menu-icon{
    font-size: 1.2rem;
}

@media screen and (max-width: 415px) {
   
}