.card-destacados{
    width: 100%;
    cursor: pointer;
    height: auto;
    overflow: hidden;
    text-decoration: none;
}

.destacados-img{
    width: 100%;
}

.destacados-img img{
    width: 100%;
    border-radius: 10px;
}

.destacados-texto{
    width: auto;
    font-size: initial;
    padding: 0 15px;
}

.destacados-texto h3{
    font-size: 20px;
    font-weight: 200;
    color: var(--color-blanco);
    margin: 15px 0;
}

.destacados-texto p{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gris);
    border: 1px solid var(--color-gris);
    padding: 5px 8px;
    border-radius: 10px;
}