.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 160px ;
    padding-top: 40px;
}
.container-foto{
    width: 50%;
    display: flex;
    justify-content: end;
}
.container-foto img{
    border-radius: 10px;
}
.container-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}
.text-name{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text-name .name{
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: var(--color-blanco);
    font-weight: 100;
}
.text-name .apellido{
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: var(--color-blanco);
    font-weight: 800;
}
.text-name .puesto{
    font-size: 20px;
    color: var(--color-blanco);
    font-weight: 100;
}
.container-desc{
    max-width: 516px;
}
.container-desc p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 100;
    color: var(--color-blanco);
}

@media screen and (max-width: 1355px) {
    .container-foto img{
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .about-container{
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding-bottom: 120px ;
    }
    .container-foto{
        width: 100%;
    }
    .container-text{
        width: 100%;
    }
    .text-name{
        margin-bottom: 25px;
    }
}