header{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.icono-scroll{
    position: absolute;
    bottom: 50px;
    font-size: 1.4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-blanco);
    cursor: pointer;
    animation: moveUpDown 2s ease-in-out infinite, fadeOpacity 2s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
  }
  
  @keyframes fadeOpacity {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.6;
    }
  }