@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Public Sans', sans-serif;
  --color-fondo: #040C1D;
  --color-blanco: #E8E8E8;
  --color-gris: rgba(232, 232, 232, 0.367);
  --color-principal: #5D00FF;
  --color-secundario: #21D5E2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  width: 100%;
}

#root{
  width: 100%;
  position: relative;
}

.main-content{
  width: 85%;
  margin: 0 auto;
}