.portfolio-title{
    font-size: 36px;
    font-weight: 200;
}

.portfolio-enlace{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trabajos{
    padding: 55px 0;
}